<!-- SASS
https://www.youtube.com/watch?v=9FX5NgRrdnc -->

<!-- Colors
https://huemint.com/bootstrap-plus/ -->

<!-- Timeline inspo
https://www.behance.net/gallery/132810259/Hyperframe-Interactive-Experience -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timeline</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7ccd62abca.js" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Timeline template end -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="stylesheet" href="/css/login.css" /> -->
    <link rel="stylesheet" href="/css/timeline-v3.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/timeline.css" />
  </head>
  <body>
    <header class="mt-0">
      <nav class="navbar navbar-expand-md py-2">
        <div class="container">
          <!-- logo -->
          <a href="/timelines" class="navbar-brand"><img class="img-fluid logo-small" src="/imgs/logo.png"></a>
          <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav"  aria-controls="nav" aria-label="Expand Navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ml-auto">
              <% const nonUserRoutes = ['/', '/login', '/signup'] %>
              <% if(!nonUserRoutes.includes(url)) { %>
                <li class="nav-item">
                  <a href="/timelines" class="nav-link">Your Timeline</a>
                </li>
                <li class="nav-item">
                  <a href="/profile/<%= user.id %>" class="nav-link">Profile</a>
                </li>
               <% } %> 
                <li class="nav-item">
                  <a href="#" class="nav-link">About</a>
                </li>
                <% if(!nonUserRoutes.includes(url)) { %>
                <li class="nav-item">
                  <a href="/logout" class="nav-link">Log out</a>
                </li>
              <% } %> 
            </ul>
          </div>
        </div>
      </nav>
    </header>

