/* general styles */
html,
body {
    height: 100%;
    width: 100%;
}

/* vertical-centered text */
.text-vcenter {
    /* display: table-cell; */
	/* margin: auto; */
    text-align: center;
    /* vertical-align: middle; */
}

.branchInfo {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.23);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.2px);
	-webkit-backdrop-filter: blur(6.2px);
}

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


/* additional sections */
#hero {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}