
.hidden {
    display: none;
}

body, header {
    padding: 0 !important;
    margin: 0 !important;
}

.logo-small {
    height: 2rem !important;
}

.fa {
    font-weight: 900;
}

/*
*
* ==========================================
* moment header
* ==========================================
*
*/
.bg-cover {
    background-size: cover !important;
}

header a:hover, .timeline-name.text-dark:hover {
    color: #7A477C !important;
}

.branch-dates, .branch-description {
    font-size: .75rem;
    color: #524b55;
}

.branch-description {
    font-style: italic;
}

.visibility {
    visibility: hidden;
}
/*
*
* ==========================================
* profile
* ==========================================
*
*/

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #f7f7f7;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #f7f7f7, #f3eef3);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #f7f7f7, #f3eef3)
}

.scrolling-wrapper{
	overflow-x: scroll;
    position: relative;
    height: 100%;
}

.card-block{
	height: 45vh;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
	/* &:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	} */
}

.branch-card-block{
	height: 40vh;
}

/* .vertical_dotted_line, #momentContainer {
    border-left: 2px dashed rgb(216, 216, 216);
    border-right: 2px dashed rgb(216, 216, 216);
}  */

#momentContainer .row:not(:first-child):not(.moment-edit-delete) {
    border-top: 3px dashed rgb(237, 237, 237);
} 

#branchInfo {
    overflow-y: scroll;
}