.hidden {
    display: none;
}

body, header {
    padding: 0 !important;
    margin: 0 !important;
}

.logo-small {
    height: 2rem !important;
}


/*
*
* ==========================================
* moment header
* ==========================================
*
*/
.bg-cover {
    background-size: cover !important;
}