@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* general styles */
html,
body {
    height: 100%;
    width: 100%;
}

/* Hero */
.text-vcenter {
    text-align: center;
}

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.heroInfo {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.23);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.2px);
	-webkit-backdrop-filter: blur(6.2px);
	width: 60vw;
}

@media (max-width: 768px) {
	.heroInfo {
		width: 85vw;
	}
}  

@media (max-width: 576px) {
	.heroInfo {
		width: 90vw;
	}
}  

#hero {
    display: table;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Timeline Navigation */

.timeline__nav {
  transition: top 0.3s ease-out;
  padding: 2rem;
}

.timeline__nav ul {
  list-style: none;
  list-style-position: inside;
  margin: 15px 0;
}

.timeline__nav ul li {
  margin: 15px 0;
  padding-left: 0;
  list-style-type: none;
  color: #bfc1c3;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.timeline__nav ul li.active {
  font-weight: bold;
  color: #f94125;
  border-bottom: 1px dotted transparent;
  transform: scale(1.2);
}
.timeline__nav ul li:hover {
  color: #000;
}